{% extends 'base.html' %}

{% block body %}
<table>
	<tr>
		<td>lien de confirmation :</td>
	</tr>
	<tr>
		<td style="padding-left:1rem"><a href="{{ link }}">{{ link }}</a></td>
	</tr>
</table>
{% endblock %}