<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annuaire des associations</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/annuaire.css') }}">
    <style>
      body {
        margin:0;
      }
      .marker-cluster-small {
        background-color: rgba(243, 140, 190, 0.6) !important;
      }
      .marker-cluster-small div {
        background-color: rgba(240, 134, 187, 0.6) !important;
      }
      .marker-cluster-medium {
        background-color: rgba(241, 211, 87, 0.6) !important;
      }
      .marker-cluster-medium div {
        background-color: rgba(240, 194, 12, 0.6) !important;
      }
      .marker-cluster-large {
        background-color: rgba(253, 156, 115, 0.6) !important;
      }
      .marker-cluster-large div {
        background-color: rgba(241, 128, 23, 0.6) !important;
      }
    </style>
  </head>
<body>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>
