{% extends 'admin/master.html' %}

{% block body %}
<div class="container">

<form class="form-horizontal" method="POST">
	{{ form.hidden_tag() }}
	<div class="form-group">
		<label class="col-md-2 control-label" for="{{ form.username.id }}">Compte</label>
		<div class="col-md-4">
		<input class="form-control" type="text" placeholder="compte" id="{{ form.username.id }}" name="{{ form.username.name }}">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label" for="{{ form.password.id }}">Mot de passe</label>
		<div class="col-md-4">
		<input class="form-control" type="password" id="{{ form.password.id }}" placeholder="mot de passe" name="{{ form.password.name }}">
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-4 submit-row">
			<input type="submit" class="btn btn-primary btn-large" value="Login" />
		</div>
	</div>
</form>

</div>
{% endblock %}
