@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

$grey-darker: hsl(0, 0%, 29%);
$grey-dark: hsl(0, 0%, 35%);
$turquoise: #e72f81;
//$blue: hsl(210, 71%, 45%);
$blue: hsl(225, 61%, 45%);

//$hr-background-color: #fad682;

$family-sans-serif: "Dosis", sans-serif;

$title-color: #2e1b44;
$subtitle-color: #2e1b44;

$body-background-color: #f7f7f7;

$navbar-background-color: transparent;
$footer-background-color: transparent;

$notification-padding: 0.75rem 1.25rem 0.75rem 1.25rem;

// dimensions des images
$dimensions: 75 200;

$navbar-item-img-max-height: 40;

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";

//@import "../node_modules/bulma/sass/elements/_all";
	@import "../node_modules/bulma/sass/elements/box.sass";
	@import "../node_modules/bulma/sass/elements/button.sass";
	@import "../node_modules/bulma/sass/elements/container.sass";
	@import "../node_modules/bulma/sass/elements/content.sass";
	@import "../node_modules/bulma/sass/elements/icon.sass";
	@import "../node_modules/bulma/sass/elements/image.sass";
	@import "../node_modules/bulma/sass/elements/notification.sass";
//	@import "../node_modules/bulma/sass/elements/progress.sass";
	@import "../node_modules/bulma/sass/elements/table.sass";
	@import "../node_modules/bulma/sass/elements/tag.sass";
	@import "../node_modules/bulma/sass/elements/title.sass";
	@import "../node_modules/bulma/sass/elements/other.sass";

//@import "../node_modules/bulma/sass/form/_all";
	@import "../node_modules/bulma/sass/form/shared.sass";
	@import "../node_modules/bulma/sass/form/input-textarea.sass";
	@import "../node_modules/bulma/sass/form/checkbox-radio.sass";
	@import "../node_modules/bulma/sass/form/select.sass";
	@import "../node_modules/bulma/sass/form/file.sass";
	@import "../node_modules/bulma/sass/form/tools.sass";

//@import "../node_modules/bulma/sass/components/_all";
//	@import "../node_modules/bulma/sass/components/breadcrumb.sass";
	@import "../node_modules/bulma/sass/components/card.sass";
	@import "../node_modules/bulma/sass/components/dropdown.sass";
	@import "../node_modules/bulma/sass/components/level.sass";
	@import "../node_modules/bulma/sass/components/media.sass";
	@import "../node_modules/bulma/sass/components/menu.sass";
	@import "../node_modules/bulma/sass/components/message.sass";
	@import "../node_modules/bulma/sass/components/modal.sass";
	@import "../node_modules/bulma/sass/components/navbar.sass";
	@import "../node_modules/bulma/sass/components/pagination.sass";
//	@import "../node_modules/bulma/sass/components/panel.sass";
	@import "../node_modules/bulma/sass/components/tabs.sass";

//@import "../node_modules/bulma/sass/grid/_all";
	@import "../node_modules/bulma/sass/grid/columns.sass";
//	@import "../node_modules/bulma/sass/grid/tiles.sass";

//@import "../node_modules/bulma/sass/layout/_all";
	@import "../node_modules/bulma/sass/layout/hero.sass";
	@import "../node_modules/bulma/sass/layout/section.sass";
	@import "../node_modules/bulma/sass/layout/footer.sass";


// bulma-switch

$switch-background: $grey-light;
$switch-background-active: $primary;
$switch-radius: $radius;
$switch-margin: 1rem;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-transition: all 0.25s ease-out;
$switch-focus: 1px dotted $grey-light;
@import "../node_modules/bulma-switch/src/sass/index.sass";
