.main-content {
    min-height: calc(100vh - 160px);
}
#nav-toggle-state {
    display: none;
}
#nav-toggle-state:checked ~ .navbar-menu {
    display: block;
}
.marker-cluster-small {
    background-color: rgba(243, 140, 190, 0.6) !important;
}
.marker-cluster-small div {
    background-color: rgba(240, 134, 187, 0.6) !important;
}
.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6) !important;
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6) !important;
}
.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6) !important;
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6) !important;
}
